<div class="jumbotron homepage-block">

<div class="titles">
  <h1>Global Artist/Songs Data</h1>
  <p>Your daily update of the best songs</p>

  <p><%= link_to "Artist", new_artist_path, :class => "btn btn-primary btn-lg green darken-1" %> <%= link_to "Songs", new_song_path, :class => "btn btn-primary btn-lg  green darken-1" %></p>
</div>

</div>

<div class="concert">
<%= image_tag "http://www.busestoconcerts.com/communities/8/004/008/554/698//images/4621827369.jpg" %>
</div>
