<div class="jumbotron homepage-block">

  <h1>World Data</h1>
  <%= image_tag "" %>
  <p>.............</p>

  <p><%= link_to "Artist", new_artist_path, :class => "btn btn-primary btn-lg green darken-1" %> <%= link_to "Songs", new_song_path, :class => "btn btn-primary btn-lg  green darken-1" %></p>


</div>
